.module-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .module-left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  
  .module-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
  }
  
  .module-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  
  .module-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .module-container a {
    color: #C00000;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .module-container a:hover {
    color: #505050;
    text-decoration: none;
    transform: scale(1.05);
  
  }
  
  .module-container ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  